html {
    font-family: Calibri, Geneva, Tahoma, sans-serif
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px 0 10px;
    background-color: antiquewhite;

}

header h1{
    margin: inherit;
    font-size: 1.2em;
}

.UserPicture{
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 100%;
}